.cabecera{
    width: 100%;
    height: 100px;
    
}

.banner{
    margin: 0 auto;
    width: 900px;
    height: 115px;    
}
.logo{
    margin-top: 5px;
    float: left;
}
.logo>img{
    width: 80px;
    height: 100px;
}

.pie{
    width: 100%;
    height: 98px;

}
.pie_login{
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 98px;
    background: url("../img/banner/bg_botton.png");
}
.pie_admin{
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 98px;
    /*background: blue;*/
}
.info_pie{
    margin: 0 auto;
    width: 800px;
    color: lightgrey;
    padding-top: 40px;
    padding-bottom: 5px;
    text-align: center;
    font-size: 12px;
    text-transform: uppercase;
    /*background: green;*/
}
.info_pie > a{
    text-decoration: none;
    color: lightgrey;
}

.centrarDiv{
    position: absolute;
    /*nos posicionamos en el centro del navegador*/
    top:50%;
    left:50%;
    /*determinamos una anchura*/
    width:350px;
    /*indicamos que el margen izquierdo, es la mitad de la anchura*/
    margin-left:-175px;
    /*determinamos una altura*/
    height:200px;
    /*indicamos que el margen superior, es la mitad de la altura*/
    margin-top:-100px;

    padding:5px;
}
